<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was create by Petruta Raul. It uses data from mapbox and weatherstack.</p>
    <img src="/img/profile-pic.jpg" class="portrait">
</div>
{{>footer}}
</body>
</html>
